---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>


  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}  
    image={{
      src: '~/assets/images/buro-foto.png',
      alt: 'Colorful Image',
    }}
  />

  <!-- Hero Widget ******************* 

  <Hero
    tagline="Hakkımızda"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Elevate your online presence with our <br />
      <span class="text-accent dark:text-white"> Beautiful Website Templates</span>
    </Fragment>

  </Hero>
-->
  <!-- Stats Widget ****************** 

  <Stats
    title="Statistics about us"
    stats={[
      { title: 'Offices', amount: '4' },
      { title: 'Employees', amount: '248' },
      { title: 'Templates', amount: '12' },
      { title: 'Awards', amount: '24' },
    ]}
  />
-->
  <!-- Features3 Widget ************** -->

  <Features3
    title="Hakkımızda"
      subtitle={`
    <div style="text-align: justify; width: 100%; margin: 0; padding: 0;">
      TAMA & ORAL Avukatlık ve Arabuluculuk Bürosu, 2018 yılında Av. Rumeysa TAMA ORAL ve Av. Ömer ORAL tarafından kurulmuştur. 
      Yerli ve yabancı müvekkillerine hukuki konularda etkin olarak avukatlık ve danışmanlık hizmeti sunan büromuz, 2022 yılında hizmetlerine arabuluculuğu da ekleyerek devam etmiştir. 
      Günümüzde ticaret hukuku, iş hukuku, aile hukuku, miras hukuku, sigorta hukuku olmak üzere çeşitli özel hukuk alanlarında ve idare hukuku, vergi hukuku, ceza hukuku olmak üzere çeşitli kamu hukuku alanlarında, deneyimli avukat kadrosuyla yerli ve yabancı müvekkillerine avukatlık ve danışmanlık hizmeti sunmaya devam etmektedir. 
      Kadromuzdaki arabulucularımız tarafından, arabuluculuğa elverişli olan uyuşmazlıklarda arabuluculuk hizmeti de sunulmaktadır. 
      Hem avukatlık faaliyetimiz hem de arabuluculuk faaliyetimiz kapsamında; Uyuşmazlıkların kısa vadede çözüme kavuşması için uyuşmazlıktaki esaslı sorunun belirlenmesi, çözümü için alternatifli olarak yöntemlerin belirlenmesi ve değerlendirilmesi, en kazançlı çözüm yönteminin seçilerek uygulanması sonucu, müvekkil ve danışanlarımız ile uyuşmazlığın taraflarının en iyi hizmeti almaları için azami çabayı göstermekteyiz.
    </div>
  `}
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Çeşitli Hukuk Alanlarında Uzmanlık',
        description:
          'Büromuz, yerli ve yabancı müvekkillerine ticaret hukuku, iş hukuku, aile hukuku, miras hukuku, ceza hukuku ve idare hukuku gibi birçok özel ve kamu hukuku alanında kapsamlı avukatlık ve danışmanlık hizmeti sunmaktadır.',
        icon: 'tabler:template',
      },
      {
        title: 'Arabuluculuk Hizmeti',
        description:
          'Hukuki uyuşmazlıkların dostane ve hızlı şekilde çözülmesini amaçlayan arabuluculuk hizmetimiz, alanında yetkin ve kayıtlı arabulucularımız tarafından yürütülmektedir.',
        icon: 'tabler:template',
      },
      {
        title: 'Müvekkil Odaklı Hizmet Anlayışı',
        description:
          'Her dosyada uyuşmazlığın özüne inerek, en uygun çözüm yöntemini belirlemeye odaklanıyor; müvekkilimizin ihtiyaçlarına özel, etkin ve sürdürülebilir sonuçlar elde etmeyi amaçlıyoruz.',
        icon: 'tabler:template',
      },
    ]}
  />

  <!-- Features3 Widget ************** 

  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'E-commerce',
        description:
          'Rutrum non odio at vehicula. Proin ipsum justo, dignissim in vehicula sit amet, dignissim id quam. Sed ac tincidunt sapien.',
        icon: 'tabler:template',
      },
      {
        title: 'Blog',
        description:
          'Nullam efficitur volutpat sem sed fringilla. Suspendisse et enim eu orci volutpat laoreet ac vitae libero.',
        icon: 'tabler:template',
      },
      {
        title: 'Business',
        description:
          'Morbi et elit finibus, facilisis justo ut, pharetra ipsum. Donec efficitur, ipsum quis congue luctus, mauris magna.',
        icon: 'tabler:template',
      },
      {
        title: 'Branding',
        description:
          'Suspendisse vitae nisi eget tortor luctus maximus sed non lectus. Cras malesuada pretium placerat. Nullam venenatis dolor a ante rhoncus.',
        icon: 'tabler:template',
      },
      {
        title: 'Medical',
        description:
          'Vestibulum malesuada lacus id nibh posuere feugiat. Nam volutpat nulla a felis ultrices, id suscipit mauris congue. In hac habitasse platea dictumst.',
        icon: 'tabler:template',
      },
      {
        title: 'Fashion Design',
        description:
          'Maecenas eu tellus eget est scelerisque lacinia et a diam. Aliquam velit lorem, vehicula id fermentum et, rhoncus et purus.',
        icon: 'tabler:template',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Colorful Image',
    }}
  />
  -->

  <!-- Steps2 Widget ****************** 

  <Steps2
    title="Our values"
    subtitle="Maecenas eu tellus eget est scelerisque lacinia et a diam. Aliquam velit lorem, vehicula id fermentum et, rhoncus et purus. Nulla facilisi. Vestibulum malesuada lacus."
    items={[
      {
        title: 'Customer-centric approach',
        description:
          'Donec id nibh neque. Quisque et fermentum tortor. Fusce vitae dolor a mauris dignissim commodo. Ut eleifend luctus condimentum.',
      },
      {
        title: 'Constant Improvement',
        description:
          'Phasellus laoreet fermentum venenatis. Vivamus dapibus pulvinar arcu eget mattis. Fusce eget mauris leo.',
      },
      {
        title: 'Ethical Practices',
        description:
          'Vestibulum imperdiet libero et lectus molestie, et maximus augue porta. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
      },
    ]}
  />
-->
  <!-- Steps2 Widget ****************** 

  <Steps2
    title="Achievements"
    subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla."
    isReversed={true}
    callToAction={{
      text: 'See more',
      href: '/',
    }}
    items={[
      {
        title: 'Global reach',
        description: 'Nam malesuada urna in enim imperdiet tincidunt. Phasellus non tincidunt nisi, at elementum mi.',
        icon: 'tabler:globe',
      },
      {
        title: 'Positive customer feedback and reviews',
        description:
          'Cras semper nulla leo, eget laoreet erat cursus sed. Praesent faucibus massa in purus iaculis dictum.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Awards and recognition as industry experts',
        description:
          'Phasellus lacinia cursus velit, eu malesuada magna pretium eu. Etiam aliquet tellus purus, blandit lobortis ex rhoncus vitae.',
        icon: 'tabler:award',
      },
    ]}
  />
-->

  <!-- Features2 Widget ************** -->

  <Features2
    title="İletişim"
    tagline=""
    columns={2}
    items={[
      {
        title: 'Adres',
        description:
          'Çınar Mah. Yıldırım Beyazıt Cad. No.: 15 Ecem Apt. K.:1 D.:7 Bornova/İzmir',
        icon: 'tabler:messages',
      },
      {
        title: 'Bize Ulaşın',
        description:
          'Telefon: 0232 461 09 94 – 0537 937 10 64',
        icon: 'tabler:headset',
      },
    ]}
  />
</Layout>
